<h1>Add a question</h1>

<%= form_tag survey_questions_path, method: :post do %>
  <div class='question'>
    <%= label_tag 'Question'%>
    <%= text_field(:question, :name) %>
  </div>
  <div class='question possible_values'>
  <%= label_tag 'Possible Values'%>
    <%= text_field_tag 'possible_values[]' %>
    <%= text_field_tag 'possible_values[]' %>
    <%= text_field_tag 'possible_values[]' %>
  </div>
  <%= submit_tag 'Add Question' %>
<% end %>
