<h1>Add a question</h1>

<%= form_tag survey_questions_path, method: :post do %>
  <%= text_field(:question, :name) %>
  <%= text_field_tag 'possible_values[]' %>
  <%= text_field_tag 'possible_values[]' %>
  <%= text_field_tag 'possible_values[]' %>
  <%= submit_tag %>
<% end %>
