<h1>Create a new survey!</h1>

<%=render 'flash'%>

<div id = "new_survey_div">
<%= form_for @survey do |f|%>
  <div class="title"><%= f.label :title%>
  <%= f.text_field :title %></div>
  <div class="description"><%= f.label :description %><br />
  <%= f.text_area :description %></div>
  <div class="create"><%= f.submit "Create Survey"%></div>
<% end %>
</div><br>

<div id = "questions_div">
</div>

<%=button_to 'New Question', new_survey_question_path(survey_id: @survey_id), form_class: "new_question_button", method: :get%>
<div id = "finished">
<%=button_to 'Finished?', user_path(@user), method: :get%>
</div>