<div id = "new_survey_div">
<%= form_for @survey do |f|%>
  <%= f.label :title%>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit "Create Survey"%>
<% end %>
</div>