<nav>
<div class="left">
<% if session[:user_id]%>
  <%= link_to "Survey Panda", surveys_path, class: "home" %>
  <% else %>
  <%= link_to "Survey Panda", root_path, class: "home" %>
<% end %>
</div>
<div class="right">

  <%if session[:user_id]%>
  <div class="profile">
  <%= link_to 'My Profile', user_path(session[:user_id]) %>
  </div>
  <div class="create">
    <%= link_to 'Create New Survey', new_survey_path %>
    </div>
    <div class="logout">
    <%=button_to 'Log Out', logout_path, method: :delete%>
    </div>
  <% end %>
</div>
</nav>